.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & small {
        color: #5E5E5E;
        font-size: 1rem;
    }
}

.title {
    font-size: 1.25rem;
}

.participants {
    display: flex;
    flex-direction: row;
    align-items: center;
}
