.input {
    background-color: var(--primary-input-background);
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 100%;
    padding: .5rem .6rem;
    border: 3px solid var(--primary-input-border);
    transition: all 100ms linear;

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
        background-color: var(--primary-input-background-focused);
    }
    &:focus {
        border: 3px solid var(--primary-input-border-active);
    }
}

.inputWrapper {
    position: relative;

    & label {
        color: var(--primary-input-background-focused);
        font-size: 0.875rem;
        margin-left: .5rem;
    }
}
