* {
    box-sizing: border-box;
}

:root {
    /* Inputs */
    --primary-input-background: rgba(228, 228, 228, 0.54);;
    --primary-input-shadow: 0px 4px 4px 0px #00000040;
    --primary-input-border: #1F1F1F;
    --primary-input-background-focused: #E4E4E4;
    --primary-input-border-active: rgb(var(--primary-color));

    /* Buttons */
    --button-hover-opacity: .7;
    --base-button-background: 217, 217, 217;
    --base-button-clicked-background: rgba(var(--base-button-background), var(--button-hover-opacity));
    --primary-button-background: rgb(var(--primary-color));
    --primary-button-clicked-background: rgba(var(--primary-color), var(--button-hover-opacity));


    /* General */
    --primary-color: 69, 208, 158;
    --page-background-color: rgba(52, 52, 52, 1);
}

body, html {
    background-color: var(--page-background-color);
    min-height: 100vh;
    margin: 0;
}

body, html, button, input {
    font-family: "Roboto", sans-serif;
}
