.spinner {
    border-radius: 50%;
    width: 7.938rem;
    height: 7.938rem;
    border: 10px solid transparent;
    background: conic-gradient(from 180deg at 50% 50%, rgba(220, 213, 213, 0) 0deg, #1F1F1F 360deg) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
    mask-composite: exclude; /*5*/
    animation: rotate 1s linear 1ms infinite forwards;
    display: inline-block;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
